@import url(https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka+One&family=Kanit:wght@300&display=swap);
@import "header.css";
@import "main.css";
@import "footer.css";

:root {
    --primary: #4033FF;
    --secondary: #ffffff;
    --tertiary: #1e1e1e;
    --primary-hover: #3d35ec;
}

*,
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Kanit", sans-serif;
}

/*DEFAULT*/
p {
    font-family: "Kanit", sans-serif;
}

a {
    text-decoration: red underline;
}

li {
    list-style: none;
    padding: 5px;
}

.title {
    font-size: 2em;
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
}

.sub-title {
    font-size: 1em;
    font-family: "Kanit", sans-serif;
}

em {
    font-style: normal;
    color: var(--primary);
}

.active {
    color: gray;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.full-width {
    width: 100%;
}


/* Buttons */
.btn {
    padding: 10px 20px;
    box-shadow: 0 3px 8px -3px rgba(1, 1, 1, 0.5);
    outline: none;
    border: 2rem solid white;
    border-radius: 0;
    font-weight: 400;
    text-align: right;
    transition: 0.5s;
}

.btn-primary {
    background: var(--primary);
    color: var(--secondary);
}

.btn-primary:hover {
    background: green;
}

.btn-secondary {
    background: green;
    color: green;
}

.btn-secondary:hover {
    background-color: rgb(180, 205, 255);
}


.banner {
    margin: auto;
    width: 70%;
    text-align: center;
}

#backToTop {
    position: fixed;
    z-index: 50;
    height: 3rem;
    bottom: 2rem;
    right: 2rem;
    background: green;
    width: 3rem;
    text-align: center;
    color: white;
    padding: 5px;
    border: 0.15rem solid green;
    border-radius: 50%;
    box-shadow: 0 6px 16px -6px rgba(1, 1, 1, 0.5);
}

/* THEME */

.light {

}

.dark {

}
